@media screen and (min-width: 48em) {
	.wp-block-hms-offset-columns.wp-block-columns {
		display: flex;

		&.has-reverse {
		flex-direction: row-reverse;
		}

	  .wp-block-column {
			flex: 1 0 auto;
			width: 100%;

			// Starts count at 1
			&:nth-child( odd ){
			max-width: calc(60% - .5em);
			flex: 1 0 auto;
			}

	    &:nth-child( even ) {
	    max-width: calc(40% - .5em);
			flex: 1 0 auto;
	    }
	  }
	}
}


@media screen and (min-width: 60em) {

}
