.wp-block-cover-image:not(.has-white-overlay-color) {
    // Text
    .editor-block-list__block {
    color: #fff;
    }   

    // Button Icon Overwrite Default Colors 
    .editor-block-list__empty-block-inserter .editor-inserter__toggle:not(:hover),
    .editor-default-block-appender .editor-inserter .editor-inserter__toggle:not(:hover) {
    color: #fff;
    }

    // Placeholder
    .editor-rich-text__tinymce + .editor-rich-text__tinymce, .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
    color: rgba(255,255,255,.7);
    }

    // Fix inner container being behind overlay.
    .editor-inner-blocks {
        z-index: 1 !important;
    }
}


.editor-styles-wrapper .wp-block-cover-image h2 {
    color: inherit;
}

