@media screen and (min-width: 1em) {
  .wp-block-hms-innerblocks {

    h1, h2, h3, h4, h5, h6 {
    color: unset;
    }

    .layout-inner:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    }
  }
}

@media screen and (min-width: 48em) {
  .wp-block-hms-innerblocks {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}

@media screen and (min-width: 60em) {
}
