@media screen and (min-width: 1em) {
  .wp-block-hms-innerblocks {
    margin-bottom: 1em;
    padding: 1em; }
    .wp-block-hms-innerblocks h1, .wp-block-hms-innerblocks h2, .wp-block-hms-innerblocks h3, .wp-block-hms-innerblocks h4, .wp-block-hms-innerblocks h5, .wp-block-hms-innerblocks h6 {
      font-weight: 600;
      color: unset; }
    .wp-block-hms-innerblocks .layout-inner {
      padding-bottom: 0.5em; }
    .wp-block-hms-innerblocks .layout-inner:last-child {
      margin-bottom: 0;
      padding-bottom: 0; } }

@media screen and (min-width: 48em) {
  .wp-block-hms-innerblocks {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (min-width: 60em) {
  .wp-block-hms-innerblocks {
    padding: 2em; } }
.wp-block-hms-innerblocks-cta {
  padding: 1em; }
  .wp-block-hms-innerblocks-cta h1, .wp-block-hms-innerblocks-cta h2, .wp-block-hms-innerblocks-cta h3, .wp-block-hms-innerblocks-cta h4, .wp-block-hms-innerblocks-cta h5, .wp-block-hms-innerblocks-cta h6 {
    color: unset;
    font-weight: 600; }
  .wp-block-hms-innerblocks-cta .layout-inner {
    max-width: 600px; }
  .wp-block-hms-innerblocks-cta .layout-inner:last-child {
    margin-bottom: 0 !important; }

@media screen and (min-width: 1em) {
  .wp-block-hms-innerblocks-cta {
    padding: 1em;
    margin-bottom: 1em; } }

@media screen and (min-width: 48em) {
  .wp-block-hms-innerblocks-cta {
    padding: 1em;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (min-width: 60em) {
  .wp-block-hms-innerblocks-cta {
    padding: 2em; } }
.wp-block-hms-image-tile .tile-heading {
  position: relative;
  z-index: 1;
  margin-bottom: .2em; }
  .wp-block-hms-image-tile .tile-heading h1, .wp-block-hms-image-tile .tile-heading h2, .wp-block-hms-image-tile .tile-heading h3, .wp-block-hms-image-tile .tile-heading h4, .wp-block-hms-image-tile .tile-heading h5, .wp-block-hms-image-tile .tile-heading h6 {
    z-index: 25;
    color: #fff;
    font-size: unset;
    font-size: 1.4em;
    padding: 0;
    position: absolute;
    bottom: .5em;
    left: .25em; }

.wp-block-hms-image-tile .inner-content {
  margin: 0;
  padding: 0; }

.wp-block-hms-image-tile p:last-child {
  margin-bottom: 0; }

.wp-block-hms-image-tile figure {
  margin: 0;
  width: 100%; }
  .wp-block-hms-image-tile figure::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.9) 100%);
    pointer-events: none; }
  .wp-block-hms-image-tile figure:has(+ a):hover::after, .wp-block-hms-image-tile figure:has(+ a):focus::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.9) 100%); }
  .wp-block-hms-image-tile figure img {
    display: block;
    width: 100%;
    z-index: 1; }

.wp-block-hms-image-tile figcaption {
  margin: .5em .25em;
  text-align: left;
  font-style: italic;
  float: left;
  width: 100%; }

.editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h1, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h2, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h3, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h4, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h5, .editor-block-list__block-edit .wp-block-hms-image-tile .tile-heading h6 {
  color: inherit;
  position: relative; }
.hms-toggle-content,
.hms-toggle-expander,
.hms-toggle-wrapper,
.toggle-all span {
  transition: all 0.22s linear; }

.hms-toggle-expander {
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  position: relative; }
  .hms-toggle-expander .toggle-title {
    font-size: 1.4em;
    margin-bottom: 0;
    padding-bottom: 0; }
    .hms-toggle-expander .toggle-title::before {
      content: "+";
      font-size: inherit;
      margin-right: .5em; }
  .hms-toggle-expander.active .toggle-title::before {
    content: "-"; }

.hms-toggle-wrapper {
  width: 100%;
  overflow: hidden; }

.hms-toggle-content {
  margin-top: -3000px;
  transition: all 0.5s; }

.hms-toggle-wrapper.open .hms-toggle-content {
  margin-top: 0; }
  .hms-toggle-wrapper.open .hms-toggle-content p:last-child {
    margin-bottom: 0; }
@media screen and (min-width: 48em) {
  .wp-block-hms-offset-columns.wp-block-columns {
    display: -ms-flexbox;
    display: flex; }
    .wp-block-hms-offset-columns.wp-block-columns.has-reverse {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
    .wp-block-hms-offset-columns.wp-block-columns .wp-block-column {
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
      width: 100%; }
      .wp-block-hms-offset-columns.wp-block-columns .wp-block-column:nth-child(odd) {
        max-width: calc(60% - .5em);
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
      .wp-block-hms-offset-columns.wp-block-columns .wp-block-column:nth-child(even) {
        max-width: calc(40% - .5em);
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }
.hms-custom-post-feed:not(.is-grid) {
  margin-left: 0; }
  .hms-custom-post-feed:not(.is-grid) li {
    display: block; }
    .hms-custom-post-feed:not(.is-grid) li img {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-right: 6px; }

.hms-custom-post-feed.is-grid {
  margin-left: 0; }
  .hms-custom-post-feed.is-grid li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    background-color: #eee;
    -ms-flex-direction: column;
        flex-direction: column; }
    .hms-custom-post-feed.is-grid li img {
      display: block;
      width: 100%; }
@charset "UTF-8";
.dashicons, .dashicons-before::before {
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  text-align: center; }

.dashicons-arrow-right-alt::before {
  content: "\f344"; }

.dashicons-arrow-left-alt::before {
  content: "\f340"; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

.flexslider .flex-viewport .slides li {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column;
      flex-direction: column; }
  .flexslider .flex-viewport .slides li figure {
    height: 100%;
    margin: 0; }
    .flexslider .flex-viewport .slides li figure figcaption {
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: .5em;
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
    .flexslider .flex-viewport .slides li figure img {
      height: 100% !important;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.flexslider {
  background-color: #fff;
  display: block;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0; }
  .flexslider .slides {
    min-height: 450px;
    height: 1px; }
    .flexslider .slides li {
      display: none;
      height: 100%;
      position: relative; }
      .flexslider .slides li .slide-content {
        -ms-flex-align: center;
            align-items: center;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        height: 100%;
        -ms-flex-pack: center;
            justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center; }
    .flexslider .slides img {
      width: 100%;
      display: block; }
    .flexslider .slides:after {
      content: "\0020";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    html[xmlns] .flexslider .slides {
      display: block; }
    * html .flexslider .slides {
      height: 1%; }
    .no-js .flexslider .slides > li:first-child {
      display: block; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    left: 10px; }
  .flex-direction-nav .flex-next {
    right: 10px; } }

.flexslider {
  margin: 0;
  position: relative; }
  .flexslider .slides {
    zoom: 1; }
    .flexslider .slides img {
      height: auto;
      -moz-user-select: none; }

.flex-viewport {
  max-height: 100%;
  transition: 1s ease; }
  .loading .flex-viewport {
    max-height: 300px; }

.carousel li {
  margin-right: 0; }

.flex-direction-nav {
  height: 0; }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    font-size: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-family: dashicons;
    font-size: 0;
    transition: .3s ease-in-out; }
    .flex-direction-nav a .flex-next:before {
      content: ""; }
  .flex-direction-nav .flex-prev {
    border-radius: 50px;
    box-shadow: none;
    color: #ff9900;
    left: -50px; }
  .flex-direction-nav .flex-next {
    border-radius: 50px;
    box-shadow: none;
    color: #ff9900;
    right: -50px;
    text-align: right; }
  .flexslider:hover .flex-direction-nav .flex-prev, .flexslider:hover .flex-direction-nav .flex-next {
    font-family: FontAwesome;
    background-color: #222;
    box-shadow: none;
    color: #fff;
    text-align: center; }
  .flexslider:hover .flex-direction-nav .flex-prev {
    left: 10px; }
    .flexslider:hover .flex-direction-nav .flex-prev::before {
      margin-right: .5rem;
      content: "";
      font-size: 30px;
      position: relative;
      top: 6px;
      left: 3px; }
  .flexslider:hover .flex-direction-nav .flex-next {
    right: 10px; }
    .flexslider:hover .flex-direction-nav .flex-next::after {
      margin-left: .5rem;
      content: "";
      font-size: 30px;
      position: relative;
      top: 6px;
      right: 3px; }
  .flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }
  .flex-pauseplay a:before {
    font-family: "${font-name}";
    font-size: 20px;
    display: inline-block;
    content: ""; }
  .flex-pauseplay a:hover {
    opacity: 1; }
  .flex-pauseplay a.flex-play:before {
    content: ""; }

.flex-control-nav {
  border-radius: 12px 12px 0 0;
  display: inline-block;
  text-align: center;
  width: 100%; }
  .flex-control-nav li {
    display: inline-block;
    padding: 5px; }

.flex-control-paging li a {
  display: block;
  background: #000;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #fff;
  color: #fff;
  height: 10px;
  cursor: pointer;
  text-indent: -9999px;
  width: 10px; }
  .flex-control-paging li a.flex-active {
    background: #fff;
    box-shadow: 0 0 0 2px #000;
    color: #000;
    cursor: default; }
  .flex-control-paging li a:hover, .flex-control-paging li a:focus {
    box-shadow: none; }
  .flex-control-paging li a:focus {
    outline: none;
    background: #ddd;
    box-shadow: 0 0 0 2px #000; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0; }
  .flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    transition: 1s ease; }
    .flex-control-thumbs img:hover {
      opacity: 1; }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default; }

@media (min-width: 1em) {
  .wp-block-hms-fs figure {
    margin: 0; } }

@media (min-width: 48em) {
  .flex-control-paging {
    line-height: 0;
    margin: 0;
    position: relative;
    bottom: 0; } }

@media (min-width: 60em) {
  .slide-content {
    padding: 2em; }
  .slide-title a {
    font-size: 2em; }
  .slide-excerpt {
    font-size: 1em; } }
