.wp-block-hms-innerblocks-cta {
  h1, h2, h3, h4, h5, h6 {
  color: unset;
  }
}

@media screen and (min-width: 48em) {
  .wp-block-hms-innerblocks-cta {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}