.hms-toggle-content,
.hms-toggle-expander,
.hms-toggle-wrapper,
.toggle-all span {
  transition: all 0.22s linear;
}

.hms-toggle-expander {
width: 100%;
font-weight: 600;
cursor: pointer;
position: relative;

  .toggle-title {
  font-size: 1.4em;
  margin-bottom: 0;
  padding-bottom: 0;

    &::before {
    content: "+";
    font-size: inherit;
    margin-right: .5em;
    }
  }

  &.active {

    .toggle-title  {
      &::before {
      content: "-";
      }
    }
  }
}

// Hides overflown content.
.hms-toggle-wrapper {
  width: 100%;
  overflow: hidden;
}

.hms-toggle-content {
  margin-top: -3000px;
  transition: all 0.5s;
}

// Move Content to be Visible
.hms-toggle-wrapper.open .hms-toggle-content {
  margin-top: 0;

  p:last-child {
  margin-bottom:0 ;
  }
}